.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 20px;
    padding: 10px;
}

.facebook{
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.whatsApp{
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}

.insta{
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
}